<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.lachlan.githubjump</string>
	<key>connections</key>
	<dict>
		<key>550D97C0-A2B2-4A54-A472-F2AA760D121C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84DAF9C0-AAF6-41D1-BE08-086FB0825C01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF16946F-5549-4D50-A0FB-EFEE63A28F89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9F9EA3E-3BC4-4069-8AED-B73D2ADBFE34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>833C98A0-D94E-4C4C-8080-DFACCFE245B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5FFDB35B-6524-41F4-911B-6AEE9829DBAB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy into clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lachlan Donald</string>
	<key>description</key>
	<string>Search / Open Recent Github Repos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Jump</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>833C98A0-D94E-4C4C-8080-DFACCFE245B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>70</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Jump to a Github Repository</string>
				<key>script</key>
				<string>./alfred-github-jump repos "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Github Repository Jumper</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9F9EA3E-3BC4-4069-8AED-B73D2ADBFE34</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5FFDB35B-6524-41F4-911B-6AEE9829DBAB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh &gt; update</string>
				<key>subtext</key>
				<string>Github Jump</string>
				<key>text</key>
				<string>Update Github Repositories</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>550D97C0-A2B2-4A54-A472-F2AA760D121C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-github-jump update</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Github Jump</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-github-jump login</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh &gt; login</string>
				<key>subtext</key>
				<string>Github Jump</string>
				<key>text</key>
				<string>Login to Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>84DAF9C0-AAF6-41D1-BE08-086FB0825C01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>550D97C0-A2B2-4A54-A472-F2AA760D121C</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>5FFDB35B-6524-41F4-911B-6AEE9829DBAB</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>6A3A4092-8D62-4F7D-9684-8FDF7BCDA6B3</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>833C98A0-D94E-4C4C-8080-DFACCFE245B8</key>
		<dict>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>84DAF9C0-AAF6-41D1-BE08-086FB0825C01</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>CF16946F-5549-4D50-A0FB-EFEE63A28F89</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>E9F9EA3E-3BC4-4069-8AED-B73D2ADBFE34</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/lox</string>
</dict>
</plist>
